@page "/catalog/someevents"
@using FSH.Starter.Blazor.Client.Components.EntityTable
@using FSH.Starter.Blazor.Infrastructure.Api
@using FSH.Starter.Shared.Authorization
@using Mapster
@using Microsoft.AspNetCore.Components


<PageHeader Title="SomeEvents" Header="SomeEvents" SubHeader="Manage your SomeEvents." />

<EntityTable @ref="_table" TEntity="SomeEventResponse" TId="Guid" TRequest="SomeEventViewModel" Context="@Context">

    <AdvancedSearchContent>
        <MudSelect T="Guid?" Label="EventCatalog" @bind-Value="SearchEventCatalogId">
            <MudSelectItem T="Guid?" Value="null">All EventCatalogs</MudSelectItem>
            @foreach (var eventCatalog in _eventCatalogs)
            {
                <MudSelectItem T="Guid?" Value="eventCatalog.Id">@eventCatalog.Name</MudSelectItem>
            }
        </MudSelect>
    </AdvancedSearchContent>

    <ExtraActions>
        <MudMenuItem OnClick="(() => ViewImages(context))">Images</MudMenuItem>
    </ExtraActions>

    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="context.Id" Underline=false ReadOnly Label="SomeEvent Id" />
            </MudItem>
        }
        <MudItem xs="12" md="6">
            <MudTextField Label="Name" For="@(() => context.Name)" @bind-Value="context.Name" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Description" For="@(() => context.Description)"
                @bind-Value="context.Description" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="OrganizationId" For="@(() => context.OrganizationId)" @bind-Value="context.OrganizationId" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="MinParticipant" For="@(() => context.MinParticipant)" @bind-Value="context.MinParticipant" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="MaxParticipant" For="@(() => context.MaxParticipant)" @bind-Value="context.MaxParticipant" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Durations" For="@(() => context.Durations)" @bind-Value="context.Durations" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Price" For="@(() => context.Price)" @bind-Value="context.Price" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudDatePicker Label="Event Date" For="@(() => context.LocalEventDateTime)" @bind-Date="context.EventDateOnly" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTimePicker Label="Event Time" @bind-Time="context.EventTime" TimeFormat="HH:mm" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudSelect T="Guid?" Label="EventCatalog" @bind-Value="context.EventCatalogId">
                @foreach (var eventCatalog in _eventCatalogs)
                {
                    <MudSelectItem T="Guid?" Value="eventCatalog.Id">@eventCatalog.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" md="12">
            <MudItem>
                <div>
                    @if(!Context.AddEditModal.IsCreate)
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;" >
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                </div>
            </MudItem>
        </MudItem>
    </EditFormContent>

</EntityTable>